<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbConfigSection" allowDefinition="Everywhere" type="Spider.Configuration.DbConfigSection,Spider"/>

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <dbConfigSection>
    <defaultDb value="HouseTrans"/>
    <db name="HouseTrans" encryptedString="uZF4kzrMU9vn2J3Tu8lAKsaeG59Y/6Sv" plainString="Data Source=.;Initial Catalog=GanZHouseSpiderData_V1;Connect timeout=30;min pool size=5;"/>

  </dbConfigSection>
  <appSettings>
    <add key="ProgramName" value="ProgramName"/>
    <add key="IsClearData" value="N"/>
    <add key="EndTime" value="12:00"/>
    <add key="MainSleepTime" value="300000"/>
    <add key="CheckTime" value="300000"/>
    <add key="BegTimeOut" value="180000"/>
    <add key="IntervalTimeOut" value="2000"/>
    <add key="BegRWTimeOut" value="180000"/>
    <add key="IntervalRWTimeOut" value="2000"/>
    <add key="BegSpiderIntervalTime" value="5000"/>
    <add key="IntervalSpiderIntervalTime" value="300"/>
    <add key="MaxTrySpidertimes" value="5"/>
    <add key="IntervalSpiderTime" value="200"/>
    <add key="IntervalAnalysisTime" value="200"/>
    <add key="IntervalDBTime" value="200"/>
    <add key="IntervalLogTime" value="300000"/>
       <add key="MaxSpiderDataUrl" value="1"/>
    <add key="MaxPage" value="1000"/>
    <add key="SpiderSleepTime" value="5000"/>
    <add key="MaxDepth" value="5"/>
    <add key="NetSleepTime" value="60000"></add>
    <add key="IsSpiderHouse" value="N"></add>
    <add key="IsSpiderBatch" value="Y"></add>
    <add key="IsSpiderBuildNext" value="N"></add>
    <add key="IsSpiderRoomState" value="N"></add>
    <add key="IsSpiderRoom" value="N"></add>
    <add key="IsFlateImg" value="N"></add>
    <add key="PIndex" value="1"/>
    <add key="PCount" value="1"/>
    <add key="IsProxy" value="false"/>
    <add key="ProxyURL" value="http://dps.kuaidaili.com/api/getdps/?orderid=961442916562447&amp;num=10&amp;ut=1&amp;format=json&amp;sep=1"/>


  </appSettings>
</configuration>